.map-builder-edit-pane {
    padding: 5px;
}

.map-builder-side-resize {
    flex-direction: column;
}

.map-builder-map-wrapper {
    display: inline-block;
}

.map-builder-map-inner-wrapper {
    display: flex;
}

.map-builder-resize-board-buttons {
    padding: 7px;
}